@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>从库选择策略：@ViewBag.Strategy 链接库：@Html.ViewBag.conn</div>
    <img src="~/images/1.jpg" />
</div>
