@model object
@{
    ViewData["Title"] = "Index";
}

<h1>this is First Page</h1>

@*<h1>配置文件：@ViewBag.configInfo</h1>*@

<h1>命令参数：@ViewBag.ParameterInfo</h1>


<h1>
    @ViewBag.WriteConnection
</h1>
<h1>
    @ViewBag.WriteConnection01
</h1>
<h1>
    @ViewBag.WriteConnection02
</h1>
<h1>
    @ViewBag.WriteConnection03
</h1>


<h3>
    @Model
</h3>
