<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >
  <!-- the targets to write to -->
  <!-- the targets to write to -->
  <targets>
    <!--<target xsi:type="Network" name="logError"  address="tcp://127.0.0.1:8001" layout="${longdate} ${uppercase:${level}} ${message}"/>-->

    <target xsi:type="Network" name="logInfo" address="tcp://127.0.0.1:8002" layout="${longdate} ${uppercase:${level}} ${message}"  keepConnection="false"/>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="logInfo" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info"   final="true" />
   
  </rules>
</nlog>


<!--Trace - very detailed logs，包含大量的信息，例如 protocol payloads。该级别一般仅在开发环境中启用。
Debug - debugging information, 比 Trance 级别稍微粗略，一般在生产环境中不启用。
Info - information messages，一般在生产环境中启用。
Warn - warning messages，一般用于可恢复或临时性错误的非关键问题。
Error - error messages，一般是异常信息。
Fatal - 非常严重的错误！-->