@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Apollo ConfigCenter</h1>
    <h3>@base.ViewBag.ConfigA</h3>
    <h3>@base.ViewBag.ConfigB</h3>
    <h3>@base.ViewBag.ConfigC</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
